@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url("/cursor.svg") 2 2, pointer;
}

canvas {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid white;
  border-radius: 5rem;
}

.Overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 20px;
}
.logo {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 10px;
  font-family: "Sono", sans-serif;
  color: white;
  font-size: 12px;
}
.logo > span {
  pointer-events: none;
}
a {
  text-decoration: none;
  color: white;
  position: relative;
}
a::before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0.7rem;
}
a:hover::before {
  background-color: #fff;
  width: 3rem;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(295deg 27% 74%);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #ceeaff;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: hsl(211, 36%, 19%);
}

.input:focus + .slider {
  box-shadow: 0 0 1px hsl(211, 36%, 19%);
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
